<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>results</key>
	<array>
		<dict>
			<key>className</key>
			<string>Level</string>
			<key>backGroundMusic</key>
			<string>backGroundMusic_1.mp3</string>
			<key>backGroundImageUrl</key>
			<string></string>
			<key>level</key>
			<integer>1</integer>
			<key>numberOfBalls</key>
			<integer>1</integer>
			<key>numberOfDrops</key>
			<real>1000</real>
			<key>fallingSpeed</key>
			<integer>1</integer>
			<key>scoreGoal</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>Level</string>
			<key>backGroundMusic</key>
			<string>backGroundMusic_2.mp3</string>
			<key>backGroundImageUrl</key>
			<string></string>
			<key>level</key>
			<integer>2</integer>
			<key>numberOfBalls</key>
			<integer>1</integer>
			<key>numberOfDrops</key>
			<real>2000</real>
			<key>fallingSpeed</key>
			<integer>2</integer>
			<key>scoreGoal</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>backGroundMusic</key>
			<string>backGroundMusic_3.mp3</string>
			<key>backGroundImageUrl</key>
			<string></string>
			<key>className</key>
			<string>Level</string>
			<key>level</key>
			<integer>3</integer>
			<key>numberOfBalls</key>
			<integer>2</integer>
			<key>numberOfDrops</key>
			<real>3000</real>
			<key>fallingSpeed</key>
			<integer>3</integer>
			<key>scoreGoal</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>backGroundImageUrl</key>
			<string></string>
			<key>backGroundMusic</key>
			<string>backGroundMusic_4.mp3</string>
			<key>className</key>
			<string>Level</string>
			<key>level</key>
			<integer>4</integer>
			<key>numberOfBalls</key>
			<integer>2</integer>
			<key>numberOfDrops</key>
			<real>4000</real>
			<key>fallingSpeed</key>
			<real>3.5</real>
			<key>scoreGoal</key>
			<integer>1000</integer>
		</dict>
	</array>
	<key>className</key>
	<string>LevelResponse</string>
</dict>
</plist>
